body {
  margin: 0;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}

a {
  color: #00b7ff;
}

#canvas {
  margin-top: 25px;
  z-index: 10;
}

@media screen and (min-width: 1800px) {
  #canvas {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1200px) {
  #canvas {
    margin-top: 50px;
  }
}

@media screen and (max-width: 768px) {
  #canvas {
    width: 100%;
    height: auto;
    max-height: 400px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  #canvas {
    margin-top: 20px;
    max-height: 300px;
  }
}
